article,
b,
blockquote,
caption,
cite,
dd,
del,
details,
dfn,
dl,
dt,
fieldset,
figure,
form,
i,
img,
ins,
kbd,
// label,
legend,
mark,
p,
q,
samp,
section,
strong,
summary,
time,
var,
video {
    letter-spacing: 0.0187rem;
    line-height: 1.6;
    font-family: $font-family-content-p;
}

a {
    color: var(--link);
    font-weight: 500;
    font-size: 90%;

    &:hover {
        color: var(--link);
        outline: 0;
    }
    &:visited {
        color: var(--link);
    }
    &:active {
        outline: 0;
    }
}

b,
strong {
    font-weight: bold;
    color: var(--text-content);
}

span,div {
    color: var(--text-content);
}

.title {
    line-height: 1.25;
}

iframe {
    max-width: 100%;
}

> iframe {
    margin: 10px 0;
}
