pre,
.highlight {
    margin: 0.75rem 0 0.75rem 0;
}

// pre {
//     // font-family: $font-family-base;
//     font-family: $font_consolas, $font_monaco, $font_menlo, $font_monospace;
//     font-weight: 400;
//     font-size: 0.8125rem;
//     max-width: 100%;
//     display: block;
//     overflow: auto;
//     white-space: pre;
//     @include word-wrap(break-word);
//     padding: 1em;
//     line-height: 1.33;
//     background: var(--block-similar);
//     border: 1px solid var(--block-light);
//     border-radius: 1px;
//
//     code {
//         font-family: inherit;
//         background: none;
//         display: inline-block;
//         white-space: pre;
//         word-wrap: normal;
//         // font-family: $font_consolas, $font_monaco, $font_menlo, $font_monospace;
//     }
// }

code[class*="code-"],
pre[class*="code-"] {
    overflow: auto;
    word-spacing: normal;
    white-space: pre;
    word-wrap: normal;
    word-break: normal;
}

pre {
    display: block;
    // margin: 0 0 18px;
    padding: 1em;
    border: 1px solid var(--block-light);
    border-radius: 1px;
    background-color: var(--block-similar);
    color: var(--text-content);
    text-align: left;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: $font_consolas, $font_monaco, $font_menlo, $font_monospace;
    font-size: 0.8125rem;
    line-height: 1.33;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    &,
    &[class*="code-"] > code {
        font-size: 0.8125rem;
    }

    &[class*="code-"] {
        span[class~="line"],
        span[class~="line"] * {
            font-size: inherit;
            font-family: inherit;
        }
    }
}

:not(pre) > code {
    margin: 0 1px;
    white-space: normal;
    padding: 1px 4px;
    font-size: 85%;
    color: $color_thunderbird_approx;
    background-color: $color_bridesmaid_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    font-weight: 500;
}

pre[class~="code-text"] {
    // padding: 0;
    // margin: 0;
}
