img {
    max-width: 100%;
    overflow: hidden;
    // object-fit: contain;
    // height: auto;
    min-height: 1em;
    border: 0;
    border-style: none;
}
> img[src$=".png"] {
    background: #fff;
}

img[src$="#c"] {
    display: block;
    margin: 0.7rem auto;
}

img[src$="#l"] {
    float: left;
    margin: 0.7rem;
}

img[src$="#r"] {
    float: right;
    margin: 0.7rem;
}

p + img {
    margin-top: 0.3rem;
}

figure {
    // display: inline-block;
    max-width: 100%;
    margin: 0.75rem 0;
    display: inline-block;
    isolation: isolate;

    > img {
        vertical-align: top;
        max-width: 100%;
        min-height: 1em;
    }

    > figcaption {
        margin-top: 5px;
        color: var(--text-tip);
        text-align: center;
        font-size: 0.85em;
    }
}
