// wrap/match/normal/safe-full/full
.fragment {
    .fragment-wrap {
        figure {
            margin: 0;
        }

        img {
            object-fit: contain;
            object-position: top;
        }
    }

    > .scope-wrap,
    > .scope-match,
    > .scope-normal,
    > .scope-full,
    > .scope-safe-full {
        .fragment-cell ~ .fragment-cell {
            margin-left: 2rem;
            > figure {
                float: right;
            }
        }
    }

    > .scope-safe-full {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    @media screen and (min-width: $size_page_max_content_width) {
        > .scope-wrap {
            width: fit-content;
            width: -webkit-fit-content;
            width: -moz-fit-content;
        }
        > .scope-match,
        > .scope-normal {
        }
        > .scope-align-left {
            margin-left: calc(-50vw + 427px + 1rem);
        }
        > .scope-align-right {
            margin-left: 0;
            width: calc(50vw + 427px - 1rem);
        }
        > .scope-safe-full {
            margin-left: calc(-50vw + 427px + 1rem);
            width: calc(100vw - 2rem);
        }
        > .scope-full {
            margin-left: calc(-50vw + 427px);
            width: 100vw;
        }
    }
}
center,
section[class*="fragment"] .content,
section[class*="center"] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        word-break: break-word;
        overflow-wrap: break-word;
        display: inline-block;
        color: var(--text-title);
        font-weight: 700;
        font-family: $font-family-content-h;
        vertical-align: bottom;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.4;
        letter-spacing: -0.1rem;
    }

    h2 {
        font-size: 3rem;
        line-height: 1.69;
        letter-spacing: -0.1rem;
    }

    h3 {
        font-size: 2.2rem;
        line-height: 2;
        letter-spacing: -0.1rem;
    }

    h4 {
        font-size: 1.8rem;
        line-height: 2.18;
        letter-spacing: -0.08rem;
    }

    h5 {
        font-size: 1.4rem;
        line-height: 2.58;
        letter-spacing: -0.05rem;
    }

    h6 {
        font-size: 1.2rem;
        line-height: 2.85;
        letter-spacing: 0;
    }
}
:not([class~="fragment"]) + .fragment {
    margin-top: 1.2rem;
}
