{{- $modes := split "light/dark/black" "/" -}}
{{- $index0Value := default "" (.Get 0) -}}
{{- if .IsNamedParams -}}
    {{- .Page.Store.SetInMap "bannerContent" "mode" (default "light" (.Get "mode")) -}}
    {{- .Page.Store.SetInMap "bannerContent" "style" (default "" (.Get "style")) -}}
    {{- .Page.Store.SetInMap "bannerContent" "flex" (default false (.Get "flex")) -}}
{{- else if in $modes $index0Value -}}
    {{- .Page.Store.SetInMap "bannerContent" "mode" (default "light" (.Get 0)) -}}
    {{- .Page.Store.SetInMap "bannerContent" "style" (default "" (.Get 1)) -}}
    {{- .Page.Store.SetInMap "bannerContent" "flex" (default false (.Get 2)) -}}
{{- else -}}
    {{- .Page.Store.SetInMap "bannerContent" "mode" "light" -}}
    {{- .Page.Store.SetInMap "bannerContent" "style" (default "" (.Get 0)) -}}
    {{- .Page.Store.SetInMap "bannerContent" "flex" (default false (.Get 1)) -}}
{{- end -}}

{{- $bannerContent:= .Inner | safeHTML -}}
{{- .Page.Store.SetInMap "bannerContent" "content" $bannerContent -}}
